body{ font-family:"poppins",sans-serif;   background: #f5f9fa;    text-align: center;  } 
.home-nav{ 
float:center;   height: 70%;  
} 
.home-nav a{  color:#0a2d42;  font-size: 17px;  font-weight: 700; 
  font-family: Helvetica neue; padding-left:4px; 
}
.container
{    width:100%;    text-align:center;
  }

img{   width:450px;   height:480px;} 

 .svg{   width:100%;   margin:0 auto;   overflow:hidden;   margin-top:40px; }
 
 .label{ 
   padding:10px 20px;    
border-radius:8px;  
  font-weight:900;  
  margin-left: 20px; 
   cursor:pointer;   
 box-shadow:5px 5px 13px #b6b7b7,-5px -5px 13px #e8e9e9; 
} 
 label:hover{  
  box-shadow :inset 5px 5px 13px #b6b7b7,-5px -5px 13px #09090f; 
} 
.wings{   animation-iteration-count: infinite;   animation-timing-function: linear; 
} 
#stop:checked ~.svg>.wings{   transform:rotate(0); 
} 
#low:checked ~.svg>.wings{   animation-name: slow;   animation-duration: 1s; } @keyframes slow{  
 100%{     transform:rotate(360deg); 
  } 
} 
#second:checked ~.svg>.wings{    animation-name: mdm;    animation-duration:0.5s; 
} 
   @keyframes mdm{    
100%{      transform:rotate(360deg); 
  } 
} 


#third:checked ~.svg>.wings{    animation-name: high;    animation-duration:0.1s; 
} 
   @keyframes high{    
100%{      transform:rotate(360deg); 
  } 
} 
